/.idea/**
/src/main/webapp/app/assets/bower_components/**
/src/main/webapp/bower_components/**
/src/main/webapp/assets/vendor/**
/src/main/webapp/app/assets/videos/**
/.settings/**
/src/main/resources/application.properties
/src/test/resources/application.properties
/target/
/*.iml
.idea/*
.idea/
src/main/webapp/app/assets/bower_components/
/src/main/webapp/app/assets/images/bzarri/**