html, body {
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover; /* Mozilla*/
    -o-background-size: cover; /* Opera*/
    background-size: cover; /* Generic*/
    overflow: hidden;
    font-family: Ubuntu, "LatoRegular", "Lucida Grande", "Lucida Sans Unicode", Helvetica, sans-serif !important;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/* ================ The Timeline ================ */

.timeline {
    position: relative;
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 1em 0;
    list-style-type: none;
}

.timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: rgb(80, 80, 80);
    background: -moz-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30, 87, 153, 1)), color-stop(100%, rgba(125, 185, 232, 1)));
    background: -webkit-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
    background: -o-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
    background: -ms-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
    background: linear-gradient(to bottom, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);

    z-index: 5;
}

.timeline li {
    padding: 1em 0;
}

.timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.direction-l {
    position: relative;
    width: 300px;
    float: left;
    text-align: right;
}

.direction-r {
    position: relative;
    width: 300px;
    float: right;
}

.flag-wrapper {
    position: relative;
    display: inline-block;

    text-align: center;
}

.flag {
    position: relative;
    display: inline;
    background: rgb(248, 248, 248);
    padding: 6px 10px;
    border-radius: 5px;

    font-weight: 600;
    text-align: left;
}

.direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
    position: absolute;
    top: 50%;
    right: -40px;
    content: ' ';
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid #2a6fa8;
    z-index: 10;
}

.direction-r .flag:before {
    left: -40px;
}

.direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(248, 248, 248);
    border-width: 8px;
    pointer-events: none;
}

.direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(248, 248, 248);
    border-width: 8px;
    pointer-events: none;
}

.time-wrapper {
    display: inline;
    line-height: 1em;
    font-size: 0.66666em;
    color: #2a6fa8;
    vertical-align: middle;
    margin-top: 4px;
}

@media screen and (max-width: 660px) {

    .timeline {
        width: 100%;
        padding: 4em 0 1em 0;
    }

    .timeline li {
        padding: 2em 0;
    }

    .direction-l,
    .direction-r {
        float: none;
        width: 100%;

        text-align: center;
    }

    .flag-wrapper {
        text-align: center;
    }

    .flag {
        background: rgb(255, 255, 255);
        z-index: 15;
    }

    .direction-l .flag:before,
    .direction-r .flag:before {
        position: absolute;
        top: -30px;
        left: 50%;
        content: ' ';
        display: block;
        width: 12px;
        height: 12px;
        margin-left: -9px;
        background: #fff;
        border-radius: 10px;
        border: 4px solid #2a6fa8;
        z-index: 10;
    }

    .direction-l .flag:after,
    .direction-r .flag:after {
        content: "";
        position: absolute;
        left: 50%;
        top: -8px;
        height: 0;
        width: 0;
        margin-left: -8px;
        border: solid transparent;
        border-bottom-color: rgb(255, 255, 255);
        border-width: 8px;
        pointer-events: none;
    }

    .time-wrapper {
        display: block;
        position: relative;
        margin: 4px 0 0 0;
        z-index: 14;
    }

    .direction-l .time-wrapper {
        float: none;
    }

    .direction-r .time-wrapper {
        float: none;
    }

    .desc {
        position: relative;
        margin: 1em 0 0 0;
        padding: 1em;
        background: rgb(245, 245, 245);
        -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
        -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);

        z-index: 15;
    }

    .direction-l .desc,
    .direction-r .desc {
        position: relative;
        margin: 1em 1em 0 1em;
        padding: 1em;

        z-index: 15;
    }

}

table .ui-select-choices {
    position: fixed !important;
    top: auto !important;
    left: auto !important;
    width: auto !important;
}

.direction-l .time-wrapper {
    float: left;
}

.direction-r .time-wrapper {
    float: right;
}

.time {
    display: inline-block;
    padding: 4px 6px;
    /*background: rgb(248,248,248);*/
}

.desc {
    margin: 1em 0.75em 0 0;

    font-size: 0.77777em;
    font-style: italic;
    line-height: 1.5em;
}

.direction-r .desc {
    margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

#viewTitleContainer {
    height: 75px !important;
}

.nav-tabs {
    background-color: #fff;
}

.nav-tabs > .uib-tab > div {
    color: #2e2e2e;
}

.nav-tabs > .uib-tab.active div {
    /*
    background-color: slategray;
    color: #fff;
    */
    font-size: 15px;
    font-weight: bold;
}

.nav-tabs > .uib-tab > a {
    margin-right: 2px !important;
    line-height: 1.42857143 !important;
    border: 1px solid transparent !important;
    border-radius: 4px 4px 0 0 !important;
}

.nav-tabs > .uib-tab.active > a, .nav-tabs > .uib-tab.active > a:focus, .nav-tabs > .uib-tab.active > a:hover {
    color: #555 !important;
    cursor: default !important;
    background-color: #fff !important;
    border-color: #ddd #ddd transparent #ddd !important;
}

.nav-tabs > .uib-tab > a {
    margin-right: 2px !important;
    line-height: 1.42857143 !important;
    border: 1px solid transparent !important;
    border-radius: 4px 4px 0 0 !important;
}

.nav-tabs > .uib-tab.active > a, .nav-tabs > .uib-tab.active > a:focus, .nav-tabs > .uib-tab.active > a:hover {
    color: #555 !important;
    cursor: default !important;
    background-color: #fff !important;
    border-color: #ddd #ddd transparent #ddd !important;
}

.label-lightblue {
    background-color: #0390fd;
}

.nav-tabs > li {
    cursor: pointer;
}

.nav-tabs li {
    cursor: pointer;
    border: 0px !important;
}

.nav-tabs > .uib-tab.active > a, .nav-tabs > .uib-tab.active > a:focus, .nav-tabs > .uib-tab.active > a:hover {
    border: 0 !important;
    border-color: #2a6fa8 !important;
    border-bottom: 4px solid #2a6fa8 !important;
    padding-top: 15px;
}

.nav-tabs > .uib-tab > a {
    padding: 14px;
}

.headerbar {
    height: 50px;
}

#viewTitleContainer {
    height: 75px !important;
}

.headerbar .topnav > ul > li .dropdown-menu i {
    display: inline-block;
    margin-right: 5px;
}

.pageheader {
    border-top: 0
}

.badge-warning {
    background-color: #f89406;
}

.badge-warning:hover {
    background-color: #c67605;
}

.badge-success {
    background-color: #468847;
}

.badge-success:hover {
    background-color: #356635;
}

.wbs-table tbody tr.selected td {
    background-color: #6f8cc0 !important;
    color: #fff;
}

.wbs-table tbody tr.selected td a {
    color: #8ea2ff;
}

.level0 {
    padding-left: 0;
}

.level1 {
    padding-left: 40px;
}

.level2 {
    padding-left: 80px;
}

.level3 {
    padding-left: 120px;
}

.level4 {
    padding-left: 160px;
}

.level5 {
    padding-left: 190px;
}

.level6 {
    padding-left: 210px;
}

.level7 {
    padding-left: 230px;
}

.level8 {
    padding-left: 250px;
}

.level9 {
    padding-left: 260px;
}

.level10 {
    padding-left: 270px;
}

.level11 {
    padding-left: 220px;
}

.level12 {
    padding-left: 240px;
}

.level13 {
    padding-left: 260px;
}

.level14 {
    padding-left: 280px;
}

.level15 {
    padding-left: 300px;
}

.level16 {
    padding-left: 320px;
}

.level17 {
    padding-left: 340px;
}

.level18 {
    padding-left: 360px;
}

.level19 {
    padding-left: 380px;
}

.level20 {
    padding-left: 400px;
}

/* Side Panel CSS */

.app-side-panel {
    position: fixed;
    top: 127px;
    bottom: 30px;
    background-color: #fff;
    z-index: 9999;
    overflow: auto;
}

.app-side-panel.right {
    right: 0;
    width: 500px;
    margin-right: -500px;
    border-left: 1px solid #ddd;
}

.app-side-panel.left {
    left: 0;
    width: 500px;
    margin-left: -500px;
    border-right: 1px solid #ddd;
}

.side-panel-close-btn {
    color: #949798;
    font-size: 30px;
    cursor: pointer;
}

.app-side-panel a.close {
    position: absolute;
    right: 10px;
    top: 12px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.app-side-panel a.close:hover {
    opacity: 1;
}

.app-side-panel a.close:before, .app-side-panel a.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 25px;
    width: 2px;
    background-color: #333;
}

.app-side-panel a.close:before {
    transform: rotate(45deg);
}

.app-side-panel a.close:after {
    transform: rotate(-45deg);
}

.app-side-panel .buttons-panel {
    position: fixed;
    bottom: 30px;
    height: 50px;
    padding: 8px;
    width: 500px;
    background-color: #eee;
    border-top: 1px solid #ddd;
}

.app-side-panel.right .buttons-panel {
    right: 0;
}

.app-side-panel.left .buttons-panel {
    left: 0;
}

.app-side-panel .side-panel-title {
    position: -webkit-sticky;
    position: sticky !important;
    top: 0;
    z-index: 995;
    background-color: #fff;
}

.app-side-panel .side-panel-title h3 {
    text-align: center !important;
    margin: 0 !important;
    line-height: 50px !important;
    border-bottom: 1px solid #ddd !important;
}

.badge {
    padding: 1px 9px 2px;
    font-size: 12.025px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background-color: #999999;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.badge:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

h1, h2, h3, h4, h5, .table th {
    font-family: Ubuntu, sans-serif !important;
    font-weight: 700;
}

input, textarea, select {
    font-family: Ubuntu, sans-serif !important;
}

body {
    margin-bottom: 30px;
    overflow: hidden;
}

#workspace {
}

#footer {
    color: white;
    background-color: #1E5A8A;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 30px;
    margin-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    z-index: 9999;
}

.section-title {
    padding-bottom: 10px;
    border-bottom: 1px solid #EEE;
}

#appcontent, .appcontent {
    background-color: #FFF;
    /*box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.22);
    border: 1px solid #D0DDE1;
    margin-bottom: 30px;*/
}

#appNotification {
    position: absolute;
    z-index: 99;
    border-radius: 0 !important;
    font-size: 18px;
    top: 0;
    left: -100px;
    display: none;
}

#appNotification.animated {
    animation-duration: 0.5s;
}

.view-toolbar {
    height: 50px;
    padding-top: 8px;
    padding-left: 10px;
    border-bottom: 1px solid #D3D7DB;
    /*background-color: #F7F7F7;*/
}

.view-toolbar .btn-group {
    margin: 0;
}

td .btn-group {
    margin: 0px;
}

table .btn-xs {
    padding: 0px 6px !important;
}

.view-toolbar .btn {
    background-color: #fff !important;
    color: inherit;
    border: 1px solid #dddddd !important;
    font-weight: bold !important;
    font-size: 14px !important;
}

.view-toolbar .btn:hover {
    background-color: #eeeeee !important;
}

.view-toolbar .min-width.btn {
    min-width: 75px;
}

.menu-toggle-collapsed {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    margin-left: 240px;
}

.mainpanel {
    position: absolute;
    z-index: 1020;
    left: 0px;
    top: 0px;
    width: 100%;
    margin-left: 0px;
}

.mainpanel .headerbar {
    left: 0px;
}

.mainpanel .headerbar .header-right {
    margin-right: 0px;
}

.view-container {

}

.view-container .view-toolbar {

}

.view-container .view-content {
    padding: 20px;
}

.home-button {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    margin-left: 180px;
}

.topmenu-item-link {
    height: 50px;
}

.topmenu-item-home {
    padding-top: 15px !important;
    padding-bottom: 10px;
}

.topmenu-item-home span {
    font-size: 24px;
    line-height: 24px;
    text-transform: none;
}

.project-headerbar .topnav > ul > li > a:focus {
    background-color: rgba(0, 0, 0, 0);
}

.modal-header {
    background: #E4E7EA none repeat scroll 0 0;
    border-bottom: 1px solid #CCC;
}

.modal-header h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.modal-body {
    padding: 20px;
    /*max-height:500px;
    overflow: auto;*/
}

.modal-footer {
    background-color: #F9F9F9;
    text-align: right;
}

.modal-footer .modal-buttons {
    text-align: right;
}

.modal-footer button {
    min-width: 80px
}

.nav-icon:before, .nav-icon:after {
    font-size: 15px !important;
}

.project-headerbar {
    background-color: #E4E7EA !important;
    border-bottom: 1px solid #CCC;
}

.project-headerbar ul td {
    color: #1D2939 !important;
    border-right: 1px solid #CCC;
}

.project-headerbar ul li a {
    color: #1D2939 !important;
}

.project-headerbar ul li:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #1D2939;
}

.project-headerbar li button {
    background-color: transparent;
}

.project-headerbar ul li a.active {
    background-color: #fff;
    border-left: 1px solid #CCC !important;
    border-right: 1px solid #CCC !important;
}

.project-headerbar ul li:first-child a.active {
    background-color: #fff;
    border-left: 0 !important;
    border-right: 1px solid #CCC !important;
}

.project-headerbar ul li a.active:hover {
    background-color: #fff;
}

.project-headerbar ul li a.active:focus {
    background-color: #fff;
}

/* WBS view css */
.datagrid-header-row, .datagrid-row {
    height: 40px !important;
}

.datagrid-cell, .tree-title {
    font-size: 14px !important;
}

.datagrid-view .datagrid-editable-input {
    height: 30px !important;
    font-size: 14px !important;
}

.datagrid-header .datagrid-cell span {
    font-size: 14px !important;
    font-weight: bold;
}

.wbs-view .tree-file, .wbs-view .tree-folder, .wbs-view .tree-folder-open {
    background: transparent url("../../../images/calendar-task.png") no-repeat !important;
}

.wbs-view .tree-file.wbs-loading, .wbs-view .tree-folder.wbs-loading, .wbs-view .tree-folder-open.wbs-loading {
    background: transparent url("../../../images/loaders/loader2.gif") no-repeat !important;
}

.folders-pane .tree-node {
    height: 24px !important;
}

.folders-pane .tree-node .tree-editor {
    height: 24px !important;
    font-size: 14px;
    width: 80%;
}

.folders-pane .tree-node .tree-title {
    height: 24px;
    line-height: 22px;
}

.folders-pane .tree-node .tree-icon, .folders-pane .tree-node .tree-indent {
    vertical-align: middle;
}

.project-folders-root {
    background: transparent url("../../../images/root-folder.png") no-repeat !important;
}

.project-folder {
    background: transparent url("../../../images/kde-folder.png") no-repeat !important;
    height: 15px;
}

.context-menu .dropdown-menu {
    display: block;
    position: static;
    margin-bottom: 5px;
}

.context-menu .dropdown-menu li a:hover {
    background-color: #2a6fa8 !important;
    color: white !important;
}

/* End WBS view css */

.home-project {
    padding: 10px;
    background-color: #F2F7F9;
    border: 1px solid #D0DDE1;
    border-radius: 3px;
    height: 75px;
    margin-bottom: 10px;
}

.home-project .project-icon {
    float: left;
    font-size: 40px;
    line-height: 50px;
}

.home-project .project-info {
    margin-left: 50px;
}

.home-project .project-info p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.panel-title {
    color: #636E7B;
}

.col-center {
    text-align: center;

    vertical-align: middle;
}

.actions-col {
    width: 100px;
}

.split-pane-divider {
    background: #EEE;
}

#folders-pane {
    min-width: 300px;
    max-width: 400px;
    padding: 10px;
}

#docs-split-pane-divider {
    left: 300px; /* Same as left component width */
    width: 5px;
}

#files-pane {
    left: 300px; /* Same as left component width */
    margin-left: 5px; /* Same as divider width */
    padding: 10px;
}

.attachments-dropzone {
    border: 2px dotted #F0F0F0;
    background-color: #F8F8F8;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.attachments-dropzone-container.drag-over {
    border: slategray dashed 3px;
}

.documents-dropzone {
    border: 2px dotted #F0F0F0;
    background-color: #F8F8F8;
    height: 300px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.documents-dropzone-container.drag-over {
    border: slategray dashed 3px;
}

/* The total progress gets shown by event listeners */
.total-progress {
    opacity: 0;
    transition: opacity 0.3s linear;
}

/* Hide the progress bar when finished */
.previews .file-row.dz-success .progress {
    opacity: 0;
    transition: opacity 0.3s linear;
}

/* Hide the delete button initially */
.previews .file-row .delete {
    display: none;
}

/* Hide the start and cancel buttons and show the delete button */

.previews .file-row.dz-success .start,
.previews .file-row.dz-success .cancel {
    display: none;
}

.previews .file-row.dz-success .delete {
    display: block;
}

/* Mimic table appearance */
div.table {
    display: table;
}

div.table .file-row {
    display: table-row;
}

div.table .file-row > div {
    display: table-cell;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    padding: 8px;
}

div.table .file-row:nth-child(odd) {
    background: #f9f9f9;
}

td.actions-col, th.actions-col {
    width: 150px;
    text-align: right;
}

#actions {
    margin-bottom: 20px;
}

.bom-table tr td input.input-sm {
    font-size: 14px;
}

.bom-table tr td .btn-group {
    margin: 0;
}

.bom-table tr td .btn-group button {
    padding: 0 6px;
    line-height: 13px;
    width: 16px;
    border-radius: 50%;
}

.bom-table tr.zero-padding td {
    padding-top: 0;
    padding-bottom: 0;
}

.bom-table tr td input {
    display: inline-block;
    width: 60%;
    margin: 0;
    border-radius: 0;
}

.bom-table tr.zero-padding td input {

}

.responsive-table {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.responsive-table > .table {
    margin-bottom: 0;
}

.responsive-table > table > thead > tr > th,
.responsive-table > table > tbody > tr > th,
.responsive-table > table > tfoot > tr > th,
.responsive-table > table > thead > tr > td,
.responsive-table > table > tbody > tr > td,
.responsive-table > table > tfoot > tr > td {
    white-space: nowrap;
}

.responsive-table > table {
    margin-bottom: 0;
}

.responsive-table > .table > thead > tr > th,
.responsive-table > .table > tbody > tr > th,
.responsive-table > .table > tfoot > tr > th,
.responsive-table > .table > thead > tr > td,
.responsive-table > .table > tbody > tr > td,
.responsive-table > .table > tfoot > tr > td {
    white-space: nowrap;
}

.responsive-table > .table-bordered {
    border: 0;
}

.responsive-table > .table-bordered > thead > tr > th:first-child,
.responsive-table > .table-bordered > tbody > tr > th:first-child,
.responsive-table > .table-bordered > tfoot > tr > th:first-child,
.responsive-table > .table-bordered > thead > tr > td:first-child,
.responsive-table > .table-bordered > tbody > tr > td:first-child,
.responsive-table > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
}

.responsive-table > .table-bordered > thead > tr > th:last-child,
.responsive-table > .table-bordered > tbody > tr > th:last-child,
.responsive-table > .table-bordered > tfoot > tr > th:last-child,
.responsive-table > .table-bordered > thead > tr > td:last-child,
.responsive-table > .table-bordered > tbody > tr > td:last-child,
.responsive-table > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
}

.responsive-table > .table-bordered > tbody > tr:last-child > th,
.responsive-table > .table-bordered > tfoot > tr:last-child > th,
.responsive-table > .table-bordered > tbody > tr:last-child > td,
.responsive-table > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
}

.bomtable.handsontable th,
.bomtable.handsontable td {
    line-height: 30px !important;
}

.bomtable.handsontable th.hidden-item,
.bomtable.handsontable td.hidden-item {
    display: none !important;
}

.bomtable.handsontable input, .bomtable.handsontable textarea {
    height: 31px !important;
}

.media-list > .media {
    margin-left: 0 !important;
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px !important;
}

.media-list > .media:last-child {
    margin-left: 0 !important;
    border-bottom: 0;
    padding-bottom: 15px !important;
}

.comment.media {
    padding-bottom: 0;
}

.project-meetings.fc th {
    line-height: 40px !important;
    background-color: #F3F3F3 !important;
    font-size: 16px !important;
}

.project-meetings.fc .fc-other-month.fc-future, .fc-other-month.fc-past {
    background-color: #FBFBFB;
}

.activities-comments {
    border-left: 1px dotted #D3D3D3;
    padding: 10px;
    background-color: #EEE;
}

.activities-comments hr {
    border-color: lightgrey;
}

.activity-stream-item {
    margin-bottom: 10px;
}

.activity-stream-item:last-child {
    margin-bottom: 0;
}

.item-details > div.row {
    padding: 10px;
    border-bottom: 1px dotted lightgray;
    margin-bottom: 5px;
}

.item-details > div.row:last-child {
    border-bottom: 0;
}

.no-padding {
    padding: 0 !important;
}

.item-details > div.row > div.label {
    color: #8A8A8A;
    font-size: 15px;
    text-align: right;
}

.item-details > div.row > div.value {
    font-size: 17px;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.task-progress.progress {
    background-color: #BFBFBF;
    height: 18px;
    margin: 0 !important;
}

.editable-progress .form-inline {
    margin-top: -15px !important;
}

.editable-progress .editable-input {
    margin: 0px !important;
    width: 60px !important;
    text-align: center;
}

#orgChart {
    width: auto;
    height: auto;
}

#orgChartContainer {
    width: 100%;
    overflow: auto;
    background: #fff;
}

div.orgChart td {
    padding: 0 !important;
}

div.orgChart div.node {
    width: 125px !important;
    height: 75px !important;
    margin: 0 20px;
    /*background: transparent linear-gradient(to bottom, #EEE 0%, #DDD 100%) repeat scroll 0% 0% !important;*/

    border: 1px solid #25729a !important;
    border-radius: 3px !important;
    color: #FFFFFF !important;
    background-color: #3093c7 !important;
    background-image: linear-gradient(to bottom, #3093c7, #1c5a85) !important;
}

div.orgChart div.node:hover {
    border: 1px solid #1c5675 !important;
    background-color: #26759e !important;
    background-image: linear-gradient(to bottom, #26759e, #133d5b) !important;
}

div.orgChart h2:hover {
    background: transparent !important;
    cursor: pointer !important;
}

.org-add-button, .org-del-button {
    display: none;
}

.org-add-button {
    padding-left: 5px !important;
    font-size: 15px !important;
}

.org-del-button {
    font-size: 15px !important;
    bottom: 10px !important;
    right: 10px !important;
}

.org-add-button:hover, .org-del-button:hover {
    background-color: transparent !important;
}

.org-input {
    width: 100px !important;
    text-align: center;
}

/*chat css*/
.hr-clas {
    border-top: 1px solid #2a6fa8;
}

.chat-box-main {
    padding: 15px;
    max-height: 500px;
    overflow: auto;
}

.chat-box-div {
    border: 2px solid #2a6fa8;
}

.chat-box-head {
    padding: 10px 15px;
    background-color: #2a6fa8;
    color: #fff;
    text-align: center;

}

.chat-box-left {
    width: 100%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #C5C5C5;
    font-size: 12px;
}

.chat-box-left:after {
    top: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #C5C5C5;
    border-width: 15px;
    margin-left: -15px;
}

.chat-box-name-left {
    margin-top: 20px;
    margin-left: 60px;
    text-align: left;
    color: #049E64;
}

.chat-box-right {
    width: 100%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #C5C5C5;
    font-size: 12px;
}

.chat-box-right:after {
    top: 100%;
    right: 10%;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #C5C5C5;
    border-width: 15px;
    margin-left: -15px;
}

.chat-box-name-right {
    color: #354EA0;
    margin-top: 20px;
    margin-right: 60px;
    text-align: right;
}

.chat-box-footer {
    background-color: #D8D8D8;
    padding: 10px;
}

.group-list .tab-content {
    border: none;
    padding: 10px;
}

#createGroup, #groupChat {
    display: none;
}

.assign-tasks-badge {
    background-color: #46B8DA !important;
}

.pending-tasks-badge {
    background-color: red !important;
}

.classification-pane .tree-node {
    height: 24px !important;
}

.classification-pane .tree-node .tree-editor {
    height: 24px !important;
    font-size: 14px;
    width: 80%;
}

.classification-pane .tree-node .tree-title {
    height: 24px;
    line-height: 22px;
    font-size: 14px;
}

.classification-pane .tree-node .tree-icon, .folders-pane .tree-node .tree-indent {
    vertical-align: middle;
}

.classification-root {
    background: transparent url("../../../images/sitemap.png") no-repeat !important;
}

.itemtype-node {
    background: transparent url("../../../images/box.png") no-repeat !important;
    height: 15px;
}

.split-pane-divider {
    background: #EEE;
    left: 300px; /* Same as left component width */
    width: 5px;
}

.split-left-pane {
    width: 300px;
    padding: 10px;
}

.split-right-pane {
    left: 300px; /* Same as left component width */
    margin-left: 5px; /* Same as divider width */
    padding: 10px;
}

.badge-error {
    background-color: #b94a48;
}

.badge-error:hover {
    background-color: #953b39;
}

.badge-warning {
    background-color: #f89406;
}

.badge-warning:hover {
    background-color: #c67605;
}

.badge-success {
    background-color: #468847;
}

.badge-success:hover {
    background-color: #356635;
}

.badge-info {
    background-color: #3a87ad;
}

.badge-info:hover {
    background-color: #2d6987;
}

.badge-inverse {
    background-color: #333333;
}

.styled-panel {
    padding: 20px;
    background-color: #F2F7F9 !important;
    border: 1px solid #D0DDE1 !important;
    border-radius: 3px !important;
}

.grid-form .row {
    margin: 0px;
    border-bottom: 1px dotted #DDD;
    padding: 12px 15px;
    font-size: 15px
}

.permissions-table {
    position: relative;
    background-color: #FFFFFF;
    font-size: 15px;
    padding: 20px 90px 20px 20px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    overflow-x: auto;
}

.permissions-table a {
    color: #333333;
    text-decoration: none;
    font-size: 14px;
}

.permissions-table table th.skew {
    height: 100px;
    position: relative;
    vertical-align: bottom;
    width: 50px;
}

.permissions-table table th.skew > div {
    position: relative;
    top: 0px;
    left: 50px;
    height: 100%;
    width: 80px;
    transform: skew(-45deg, 0deg);
    -ms-transform: skew(-45deg, 0deg);
    -moz-transform: skew(-45deg, 0deg);
    -webkit-transform: skew(-45deg, 0deg);
    -o-transform: skew(-45deg, 0deg);
    overflow: hidden;
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

.permissions-table table th.skew span {
    transform: skew(45deg, 0deg) rotate(315deg);
    -ms-transform: skew(45deg, 0deg) rotate(315deg);
    -moz-transform: skew(45deg, 0deg) rotate(315deg);
    -webkit-transform: skew(45deg, 0deg) rotate(315deg);
    -o-transform: skew(45deg, 0deg) rotate(315deg);
    position: absolute;
    bottom: 30px;
    left: 1px;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.permissions-table table td {
    width: 40px;
    height: 35px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #CCCCCC;
}

.permissions-table table td a {
    display: block;
    width: 100%;
    text-align: center;
}

.permissions-table table td.permission-name {
    width: 200px;
    text-align: left;
    font-weight: normal;
    padding: 10px;
    white-space: nowrap;
}

.permissions-table table .odd {
    background-color: #E8E8E8;
}

.permissions-table table td.first {
    border-top: 5px solid lightgray;
}

.permissions-table table td.last {
    border-bottom: 5px solid lightgray;
}

.permissions-table table td.group {
    vertical-align: top !important;
}

.permissions-table table td.indent {
    padding-left: 40px !important;
}

span.plus {
    padding-right: 20px !important;
    cursor: pointer;
    background: url('../../../images/bullet_toggle_plus.png') no-repeat !important;
}

span.minus {
    padding-right: 20px !important;
    cursor: pointer;
    background: url('../../../images/bullet_toggle_minus.png') no-repeat !important;
}

table.highlight-row tbody tr:hover, table.highlight-row tbody tr:hover td {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    color: #fff !important;
    cursor: pointer;
}

table.highlight-row tbody tr:hover td a, table.highlight-row tbody tr:hover td i {
    color: #fff !important;
}

.blink {
    -webkit-animation: blink 1s linear infinite;
    -moz-animation: blink 1s linear infinite;
    -ms-animation: blink 1s linear infinite;
    -o-animation: blink 1s linear infinite;
    animation: blink 1s linear infinite;
}

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9999;
}

.loading-wheel {
    width: 20px;
    height: 20px;
    margin-top: -40px;
    margin-left: -40px;

    position: absolute;
    top: 50%;
    left: 50%;

    border-width: 30px;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.highlighted {
    background-color: yellow;
    color: #2c0ef6;
    margin: 0 2px;
    font-weight: bold;
}

.style-2 .loading-wheel {
    border-style: double;
    border-color: #ccc transparent;
}

.ui-select-container .btn {
    background-color: #fff !important;
}

.input-group-btn.dropdown .btn {
    background-color: #fff;
}

.panel {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-default {
    border: 1px solid #d7d7d7 !important;
}

.panel {
    background: none !important;
}

.panel .panel-body {
    border: 0 !important;
}

.panel-default > .panel-heading {
    background-color: #f9f9f9 !important;
    border-bottom-color: #ddd !important;
}

.panel-footer {
    border-top-color: #ddd !important;
}

.panel-heading p {
    margin-top: 5px !important;
}

.description {
    display: run-in;
    word-wrap: break-word;
    width: 200px !important;
    white-space: normal !important;
    text-align: left;
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
    border-color: #eee;
    padding: 6px !important;
}

.editable-controls .editable-buttons {
    margin-top: 3px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.selector #freeTextSearchDirective {
    left: 10px;
!important;
}

.selector .search-box > input {
    width: 265px !important;
    border-radius: 15px !important;
    padding-right: 30px;
    height: 30px;
    display: inline-block !important;
    background-color: rgb(241, 243, 244);
    border: 1px solid #ddd;
    box-shadow: none;
}

.selector .search-box i.fa-search {
    z-index: 4 !important;
    position: absolute;
    margin-top: 28px !important;
    margin-left: 10px;
    color: grey;
    opacity: 0.5;
}

.selector .search-box i.clear-search {
    margin-left: -20px;
    color: gray;
    cursor: pointer;
    z-index: 4 !important;
    position: absolute;
    margin-top: 28px !important;
}

.selector .input-sm {
    font-size: 12px;
    padding: 7px 10px;
    padding-left: 30px !important;
    height: auto;
    margin-top: 21px;
    right: 0;
}

.row-menu {
    border-radius: 50%;
    background-color: #ddd;
    padding: 5px 8px;
}

.highlight-row tbody tr:hover td .row-menu {
    background-color: #5EC8FF;
    color: #fff;
}

.itemtype-node {
    background: transparent url("../../../images/box.png") no-repeat !important;
    height: 15px;
}

.sitemap-node {
    background: transparent url("../../../images/prefs1.png") no-repeat !important;
    height: 15px;
}