# jdbc props
jdbc.driverClassName=org.postgresql.Driver
jdbc.url=jdbc:postgresql://localhost:5432/cassiniapps
#jdbc.url=jdbc:postgresql://103.241.183.21:5432/cassiniapps
jdbc.user=cassinisys
jdbc.pass=cassinisys

# hibernate props
hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
hibernate.show_sql=false
#hibernate.hbm2ddl.auto=validate
hibernate.multiTenancy=SCHEMA
#hibernate.default_schema=dppl
hibernate.tenant_identifier_resolver=com.cassinisys.platform.config.CassiniTenantIdentifierResolver
hibernate.multi_tenant_connection_provider=com.cassinisys.platform.config.CassiniTenantConnectionProvider

# cassini properties
cassini.tenants=cassini_drdo
cassini.fs.root=C:/Users/cassini/temp/cassini_im

ticket_create_url=https://api.assembla.com/v1/spaces/cassinisys/tickets.json
ticket_update_url=https://api.assembla.com/v1/spaces/cassinisys/tickets/%s
ticket_doc_url=https://api.assembla.com/v1/spaces/cassinisys/documents

mail.username=mailer@cassinimail.com
mail.password=uKnYbqACAM
mail.smtp.auth=true
mail.smtp.starttls.enable=true
mail.smtp.host=mail.cassinimail.com
mail.smtp.port=587
mail.smtp.ssl.trust=mail.cassinimail.com