html, body {
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover; /* Mozilla*/
    -o-background-size: cover; /* Opera*/
    background-size: cover; /* Generic*/
}

body {
    background: inherit;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.login-logo {
    background: url(../../../images/cassiniplmlogo.png) no-repeat center center;
    background-size: 250px;
    width: 100%;
    height: 100px;
    margin-bottom: -10px;
    margin-left: 0px;
}


.error {
    color: red;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}