.file-browser-modal {
    background-color: white;
    position: absolute;
	top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    border-radius: 2px;
    box-shadow: 0px 0px 15px 1px grey;
	z-index: 500;
	padding: 20px;
	width: 40%;
    height: 90%;
    min-width: 480px;
}

.file-browser-header {
	border: 1px solid black;
    border-radius: 2px;
    width: 100%;
	padding: 10px;
	cursor: default;
}

.file-browser-switch-wrapper{
	display: inline-block;
	font-size: 14px;
}

.file-browser-search-input,
.file-browser-switch-title{
	display: inline-block;
    float: right;
}

.file-browser-search-input {
	border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
    position: relative;
    font-size: 14px;
    bottom: 2px;
}

.file-browser-table-header-row {
	font-size:18px;
}

.file-browser-item-text,
.file-browser-table-header {
	display: inline-block;
	text-align: left;
	padding: 0px 2px;
	border-radius: 2px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	user-select: none;
}

.file-browser-table-header:hover {
	background-color: rgb(225, 225, 225);
}

.file-brwoser-table-header-icon {
	margin-left: 5px;
    position: relative;
}

.file-browser-table-header-active {
	background-color: rgb(200, 200, 200);
}

.file-browser-pagination-icon {
	margin-left: 5px;
    border-radius: 20px;
    height: 20px;
    width: 20px;
    display: inline-block;
    text-align: center;
    color: white;
    background-color: rgb(160, 160, 160);
	line-height: 20px;
	cursor: pointer;
}

.file-browser-pagination-row {
	float: right;
	font-size: 14px;
}

.file-browser-actual-page-input {
	width: 40px;
	margin-left:10px;
}

.file-browser-table-body {
    border: 1px solid black;
	overflow: auto;
    height: 80%;
}

.file-browser-item-row {
	font-size: 14px;
    width: 100%;
	overflow: hidden;
	border-radius: 2px;
	padding: 0 5px;
	cursor: pointer;
	margin-bottom: 3px;
}

.file-browser-item-row-slected {
	background-color:  rgb(160, 160, 160);
}

.file-browser-item-row:hover {
	background-color:  rgb(225, 225, 225);
}

.file-browser-file-icon,
.file-browser-folder-icon {
	font-size: 20px;
	margin-right: 5px;
}

.file-browser-table-footer {
	display: inline-block;
	width: 100%;
	font-size: 14px;
	margin: 10px 0;
}

.file-browser-breadcrumb-back-button {
	font-size: 25px;
	color: #878787;
	bottom: 3px;
	position: relative;
	cursor: pointer;
}

.file-browser-breadcrumb-bar-wrapper {
	width: 100%;
	margin: 5px 1px;
	display: inline-flex;
    font-size: 16px;
}

.file-browser-breadcrumb-bar {
	width: 100%;
	border-radius: 2px;
	position: relative;
	list-style: none;
	padding-left: 0;
	padding: 0;
	overflow: hidden;
	float: left;
	margin: 0 0 0 5px;
	font-size: 12px;
}

.file-browser-breadcrumb-bar li a {
	color: #888;
	text-decoration: none;
	padding: 3px 0 3px 15px;
	background: lightgrey;
	position: relative;
	display: block;
	float: left;
	margin-left: 3px;
	cursor: pointer;
	margin-bottom: 4px;
	user-select: none;
  }


.file-browser-breadcrumb-bar li a::after {
	content: " ";
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid lightgrey;
    position: absolute;
    z-index: 2;
	top: 0;
	left: 100%;
}

.file-browser-breadcrumb-bar li a::before {
	content: " ";
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    z-index: 1;
    margin-left: 3px;
	top: 0;
	left: 100%;
}

.file-browser-breadcrumb-bar li:first-child a {
	padding-left: 5px;
	margin-left: 0;
}

.file-browser-breadcrumb-bar li:last-child a {
	background: rgb(160, 160, 160);
	color: white;
	pointer-events: none;
}

.file-browser-breadcrumb-bar li:last-child a::after {
	border-left: 14px solid rgb(160, 160, 160);
}

.file-browser-breadcrumb-bar li a:hover {
	background: rgb(225, 225, 225);
}

.file-browser-breadcrumb-bar li a:hover::after {
	border-left-color: rgb(225, 225, 225)j!important;
}

.file-browser-submit-button {
	display: inline-block;
    float: right;
    border-radius: 2px!important;
}

.file-browser-table-body-divider {
	width: 1px;
    background: black;
    height: 100%;
    display: inline-block;
    position: absolute;
}

.file-browser-button-row {
	cursor: default;
}



/*--------------------------------------------------------------Mobile-----------------------------------------------------------------------------------*/


.mobile-file-browser-action-bar {
    position: relative;
    top: 30px;
    background-color: white;
}

.mobile-file-browser-breadcrumb-bar {
    width: 100%;
    border-radius: 4px;
    position: relative;
    list-style: none;
    padding-left: 0;
    padding: 0;
    overflow: hidden;
    margin: 0 0 0 5px;
    font-size: 12px;
}

.mobile-file-browser-breadcrumb-bar li a {
	color: #888;
	text-decoration: none;
	padding: 3px 0 3px 15px;
	background: lightgrey;
	position: relative;
	display: block;
	float: left;
	margin-left: 3px;
	cursor: pointer;
	margin-bottom: 4px;
	user-select: none;
  }


.mobile-file-browser-breadcrumb-bar li a::after {
	content: " ";
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid lightgrey;
    position: absolute;
    z-index: 2;
	top: 0;
	left: 100%;
}

.mobile-file-browser-breadcrumb-bar li a::before {
	content: " ";
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    z-index: 1;
    margin-left: 3px;
	top: 0;
	left: 100%;
}

.mobile-file-browser-breadcrumb-bar li:first-child a {
	padding-left: 5px;
	margin-left: 0;
}

.mobile-file-browser-breadcrumb-bar li:last-child a {
	background: rgb(214, 124, 28);
	color: white;
	pointer-events: none;
}

.mobile-file-browser-breadcrumb-bar li:last-child a::after {
	border-left: 14px solid rgb(214, 124, 28);;
}

.mobile-file-browser-breadcrumb-bar li a:hover {
	background: rgb(132, 203, 234);
}

.mobile-file-browser-breadcrumb-bar li a:hover::after {
	border-left-color: rgb(132, 203, 234)!important;
}

.mobile-file-browser-action-bar>* {
    margin: 4px 4px;
}

.mobile-file-browser-action-bar > span > svg:active {
    background-color: rgb(132, 203, 234);
}

.mobile-filebrowser-icon {
	font-size: 21px;
	color: rgb(214, 124, 28);
	margin-left: 10px!important;
	top: 4px;
    position: relative;
}

.mobile-filebrowser-icon-wrapper {
	position: relative;
	top: 6px;
	margin-left:10px;
}

.mobile-filebrowser-search-field-wrapper {
	display: inline-block;
    float: right;
	margin-right: 10px;
	max-width: calc(100% - 120px);
}

.mobile-filebrowser-search-field {
	border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
	font-size: 14px;
	max-width: calc(100% - 35px);
}

.mobile-file-browser-multi-submit-button {
	position: absolute;
    right: 5px;
    border-radius: 60px;
    background-color: white;
    width: 60px;
    height: 60px;
    box-shadow: 0px 0px 15px 1px grey;
	z-index: 13;
	top: 50px;
	text-align: center;
}

.mobile-file-browser-multi-submit-button:active {
	background-color: rgb(255, 198, 98);
}

.mobile-file-browser-multi-submit-icon {
	font-size: 40px;
    line-height: 40px;
    color: rgb(214, 124, 28);
    margin-top: 10px;
}

.mobile-file-selected {
	background-color: rgb(255, 198, 98);
}