.print-modal {
    background-color: white;
    position: absolute;
	top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    border-radius: 2px;
    box-shadow: 0px 0px 15px 1px grey;
	z-index: 10;
	padding: 20px;
	width: 40%;
    max-height: 700px;
    min-width: 480px;
}

.print-modal-site-wrapper {
    width: calc(50% - 40px);
    display: inline-block;
    overflow: auto;
    position: absolute;
    height: calc(100% - 40px);
}
.print-modal-tab-bar {
    height: 25px;
    padding-top: 4px;
    background-color: rgb(225, 225, 225);
    display: flex;
    justify-content: stretch;
    border: 1px solid #c8c8c8;
    border-bottom: none;
    border-right: none;
}

.print-modal-tab {
    font-size: 11px;
    border-bottom: none;
    display: inline-block;
    z-index: 6;
    padding: 3px 5px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: relative;
    background: transparent;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-right: 1px solid #c8c8c8;
    margin-bottom: 2px;
}

.print-modal-tab:hover {
    background-color: rgb(255, 255, 255, 0.6);
    margin-bottom: 0;
}

.print-modal-active-tab {
    background-color: white!important;
    color: black!important;
    flex: none;
    border: 1px solid #c8c8c8;
    margin: 0;
    border-bottom: none;
    margin-bottom: -1px!important;;
    border-left: none;
}

.print-modal-options-wrapper {
    border: 1px solid #c8c8c8;
    height: calc(100% - 115px);
    overflow: auto;
    padding-top: 5px;
    border-right: none;
}

.print-modal-image-canvas {
    width: 300px;
    height: 300px;
    margin: 10px auto;
    position: relative;
}

.radio-button-container {
    height: 20px;
    width: 20px;
    border: 3px solid #878787;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.radio-button-fill {
    width: 12px;
    height: 12px;
    border-radius: 50px;
}


.radio-button-title {
    display: inline-block;
    margin-left: 5px;
    user-select: none;
}

.print-modal-option-group-title,
.radio-button-group-title {
    font-size: 12px;
    background-color: rgb(225, 225, 225);
    padding: 5px;
    user-select: none;
}

.radio-button-group-content {
    margin-left: 5px;
}

.radio-button-wrapper {
    margin: 5px;
}

.print-browser-switch-wrapper{
    font-size: 12px;
    margin: 5px 10px;
    display: table;
}

.print-browser-switch-title{
    display: inline-block;
    user-select: none;
}

.print-browser-switch-wrapper .switch-wrapper {
    float: left;
}

.print-modal-input {
    margin-left: 5px;
    width: 40px;
    display: inline-block;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    padding: 3px;
    font-size: 12px;
}

.print-modal-select {
    margin-left: 5px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
    font-size: 12px;
}

.print-modal-static-text {
    display: inline-block;
    margin-left: 15px;
}


.print-modal-long-input {
    margin-left: 15px;
    display: inline-block;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    padding: 3px;
    font-size: 12px;
}

.print-modal-long-input-wrapper {
    display: inline-block;
    padding-left: 5px;
    width: 100%;
    margin: 5px 0;
}

.print-modal-long-input-title {
    display: inline-block;
    width: calc(25% - 20px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
}

.print-modal-long-input {
    margin-right: 15px;
    display: inline-block;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    padding: 3px;
    font-size: 12px;
    position: relative;
    float: right;
    width: calc(75% - 20px);
}

.print-modal-button {
    border-radius: 2px!important;
    margin: 5px;
}

.print-modal-item-title {
    margin: 5px;
    display: inline-block;
}

.modal-colorpicker {
    width: 70px;
    height: 20px;
    border-radius: 2px;
    margin-left: 5px;
    display: inline-block;
}

.print-modal-long-input-wrapper .modal-colorpicker,
.print-modal-long-input-wrapper .print-modal-input,
.print-modal-long-input-wrapper .print-modal-select {
    margin-left: 25px;
}

.print-modal-image-title {
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: 900;
}

.print-modal-button-row {
    margin-top: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.print-modal-button {
    border-radius: 2px!important;
}

.print-modal-size-wrapper {
    display: inline-block;
    float: right;
    margin-top: 5px;
}


.print-modal-image{
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.print-modal-icon {
    border-radius: 2px;
    background-color: #878787;
    color: white;
    padding: 3px 10px;
    margin: 5px;
    cursor: pointer;
}


/*-------------------------------------------------------- Mobile-------------------------------------------------------------------------------------*/


.mobile-print-modal-option-group-title,
.mobile-radio-button-group-title {
    padding-left: 5px;
    user-select: none;
    background-color: #565454;
    margin-bottom: 5px;
    position: relative;
    height: 30px;
    line-height: 30px;
    color: white;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 600;
    margin-top: 5px;
    opacity: 0.7;
}

.mobile-print-modal {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 1px grey;
    z-index: 10;
    padding: 10px;
    width: 80%;
    height: 80%;
    overflow: hidden;
}

.mobile-print-modal-site-wrapper {
    overflow: auto;
}

.mobile-print-modal-options-wrapper {
    padding: 5px;
    position: relative;
    top: 0;
}

.mobile-print-modal-image-landscape {
    height: calc(100% - 30px);
    display: inline-block;
    position: absolute;
    width: calc(50% - 20px);
    margin-left: 5px;
}

.mobile-print-modal-image-portrait {
    height: 40%;
    min-height: 265px;
}

.mobile-print-image-canvas {
    width: 200px;
    height: 200px;
    margin: auto;
    position: relative;
    margin-top: 25px;
}

.mobile-print-modal-options-landscape {
    display: inline-block;
    height: calc(100% - 40px);
    position: absolute;
    width: calc(50% - 20px);
    margin-left: 5px;
    left: 50%;
}

.mobile-print-modal-options-portrait {
    height: calc(60% - 30px);
    max-height: calc(100% - 300px);
}

.mobile-print-modal-image-title {
    font-size: 16px;
    font-weight: 900;
}

.mobile-print-modal-preview-image {
    border: 1px solid lightgrey;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mobile-print-modal-button-row {
    position: absolute;
    bottom: 5px;
    right: 15px;
}

.mobile-print-modal-size-wrapper {
    display: inline-block;
    float: left;
    margin-top: 5px;
}