#wv-ribbon * {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#wv-ribbon-toggle-ribbon {
    position: absolute;
    font-size: 17px;
    z-index: 400;
    top: 4px;
    right: 8px;
    cursor: pointer;
    color: black;
    color: var(--app-ribbon-text-color,black);
}

#wv-ribbon-toggle-streaming {
    position: absolute;
    font-size: 18px;
    z-index: 400;
    color: steelblue;
    background-color: azure;
}

#wv-ribbon-language {
    position: absolute;
    font-size: 11px;
    z-index: 400;
    padding-bottom: 1px;
    height: 16px;
    background-color: transparent;
    background-color: var(--app-main-color, transparent);
    border:none;
    right: 30px;
    top: 5px;
    color: black;
    color: var(--app-ribbon-text-color,black);
}

.wv-mobile-switch{
    right: 160px;
    top: 4px;
    position: absolute;
    font-size: 17px;
    z-index: 400;
    cursor: pointer;
    color: black;
    color: var(--app-ribbon-text-color,black);
}

.wv-progress-bar-icon {
    position: absolute;
    font-size: 18px;
    font-weight: 900;
    color: rgb(214, 124, 28);
    color: var(--app-ribbon-text-color, rgb(214, 124, 28));
}

.wv-progress-bar-icon-wrapper {
    right: 200px;
    top: 4px;
    position: absolute;
    z-index: 400;
    cursor: pointer;
}

.ribbon-header {
    display: flex;
    list-style: none outside none;
    margin: 0px;
    padding: 2px 1px 2px;
    background-color: rgb(225, 225, 225);
    background-color: var(--app-main-color, rgb(225, 225, 225));
    color: black;
    color: var(--app-ribbon-text-color, black);
}

.ribbon-header>li {
    position: relative;
    font-size: 11px;
    font-weight: 400;
    padding: 3px 8px 0px;
    margin-top: 3px;
    padding-bottom: 3px;
}

.icon-caret-down {
    width: 16px;
    height: 16px;
}

.ribbon-body {
    font-size: 11px;
    border: 1px solid #c8c8c8;
    width: 100%;
    padding-top: 3px;
    height: 95px;
}

.ribbon-tab {
    margin-left: 5px;
    margin-bottom: -3px;
    background: transparent;
    z-index: 200;
    cursor: default;
}

.ribbon-header-active-tab {
    border: 1px solid #c8c8c8;
    border-bottom: 1px solid white;
    background-color: white;
    z-index: 500;
    color: black;
}

.ribbon-tab-page {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.ribbon-group {
    display: inline-block;
    padding: 0px 3px;
    position: relative;
    height: 100%;
    vertical-align: top;
    padding-bottom: 3px;
}

.ribbon-group::after,
.ribbon-compact-group::after {
    content: '';
    position: absolute;
    right: 0px;
    top: 5px;
    bottom: 5px;
    width: 1px;
    height: auto;
    background: #c8c8c8;
}

.ribbon-group-content {
    display: flex;
    height: 85%;
    padding: 0px 5px 0;
}

.ribbon-group-name {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    width: auto!important;
    padding: 0 5px;
    font-style: italic;
}

.ribbon-compact-group {
    vertical-align: top;
    position: relative;
    text-align: center;
}

.ribbon-compact-icon {
    width: 100%;
    height: 40%;
}

.ribbon-compact-name {
    width: 100%;
    height: 20%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ribbon-compact-expander {
    height: 20%;
    text-align: center;
    font-size: medium;
}

.ribbon-expandable {
    position: absolute;
    font-size: 11px;
    z-index: 200;
    background-color: #fff;
    border: 1px solid #c8c8c8;
    padding: 4px;
}

.ribbon-expandable:focus {
    outline: none;
}

.ribbon-button {
    width: 70px;
    height: 100%;
    display: inline-block;
    border-style: none;
    border: none;
    padding-bottom: 4px;
    outline: none;
    cursor: pointer;
    margin: auto;
    padding-top: 4px;
    border-radius: 2px;
    margin: 0px 1px;
}

.ribbon-button-highlighted {
    background-color: rgb(160, 160, 160)!important;
}

.ribbon-button-text {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 6px;
    max-height: 20px;
    width: 90%;
}

.ribbon-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 1px;
}

.ribbon-buttonlet {
    width: 100%;
    height: 33.33%;
    display: flex;
    border-style: none;
    border: none;
    padding: 0px;
    outline: none;
    padding: 3px 0px;
    border-radius: 2px;
    padding-left: 5px;
    cursor: pointer;
}

.ribbon-buttonlet-text {
    margin-left: 2px;
    vertical-align: top;
    margin-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 4px;
}

.ribbon-dropdown-list {
    font-size: 11px;
    position: absolute;
    z-index: 2000;
    border: 1px solid #c8c8c8;
    padding: 4px 4px 4px 2px;
    background-color: white;
}

.ribbon-dropdown-button {
    cursor: pointer;
    height: 100%;
    border-style: none;
}

.ribbon-dropdown-item {
    display: flex;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 10px;
    border-radius: 2px;
}


.ribbon-dropdown-item-text {
   margin-top: 8px;
   margin-left: 10px;
}

.ribbon-dropdown-item * {
    font-size: 11px;
    font-weight: 400;
}

.ribbon-button:hover,
.ribbon-buttonlet:hover,
.ribbon-dropdown-item:hover {
    background: rgb(225, 225 ,225)!important;
}

.ribbon-button-highlight-flash:hover {
    background-color: rgb(160, 160, 160)!important;
}

.splitted-dropdown-list *:first-child{
    pointer-events: none;
}

/* WORKAROUND: set this button width to "auto" */

#ID_RIBBON_DRAFT_ANGLE- {
    position: absolute;
    width: auto;
    height: 60px;
}

#ID_RIBBON_DRAFT_ANGLE- ribbon-button-inner-wrapper {
    width: auto;
}

.wv-ribbon-wsindicator{
    right: 100px;
    height: 23px;
    position: absolute;
    top: 3px;
}

.ws_indicator{
    height: 20px;
    width: 20px;
    fill: red;
    position: relative;
    cursor: pointer;
   
}

@keyframes rotateAnim {
from {transform: rotate(0deg)  skew(1deg) translate(0px); }
to {transform: rotate(360deg)  skew(1deg) translate(0px); }
}
@-webkit-keyframes rotateAnim {
from { -webkit-transform: rotate(0deg)  skew(1deg) translate(0px); }
to { -webkit-transform: rotate(360deg)  skew(1deg) translate(0px); }
}
@-moz-keyframes rotateAnim {
from { -moz-transform: rotate(0deg)  skew(1deg) translate(0px); }
to { -moz-transform: rotate(360deg)  skew(1deg) translate(0px); }
}
@-moz-keyframes rotateAnim {
from { -o-transform: rotate(0deg)  skew(1deg) translate(0px); }
to { -o-transform: rotate(360deg)  skew(1deg) translate(0px); }
}

@keyframes flashAnim {
	0% { opacity: 1; } 
	25% { opacity: 0.2; }
    50% { opacity: 1; } 
    75% { opacity: 0.2; }
	100% { opacity: 1; }
}

@-webkit-keyframes flashAnim {
	0% { opacity: 1; } 
	25% { opacity: 0.2; }
    50% { opacity: 1; } 
    75% { opacity: 0.2; }
	100% { opacity: 1; }
}

@-moz-keyframes flashAnim {
	0% { opacity: 1; } 
	25% { opacity: 0.2; }
    50% { opacity: 1; } 
    75% { opacity: 0.2; }
	100% { opacity: 1; }
}

@-moz-keyframes flashAnim {
	0% { opacity: 1; } 
	25% { opacity: 0.2; }
    50% { opacity: 1; } 
    75% { opacity: 0.2; }
	100% { opacity: 1; }
}


.ws_indicator.ws_indicator_animate{
     animation: flashAnim 2.1856s infinite ease-in-out;
    -webkit-animation: flashAnim 2.1856s infinite ease-in-out;
    -moz-animation: flashAnim 2.1856s infinite ease-in-out;
    -o-animation: flashAnim 2.1856s infinite ease-in-out;
}

.ribbon-input {
    width: 60px;
    margin-top: 20px;
    margin-bottom: 24px;
    text-align: center;
    height: 20px;
}

.ribbon-dropdown-button-text {
    height: 20px;
    text-align: center;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    top: 50px;
    width: 63px;
    border-radius: 2px;
}

.ribbon-dropdown-button-expand-icon {
    position: absolute;
    left: 80%;
    top: 3px;
}

.ribbon-dropdown-button-icon {
   padding-top: 2px;
   border-radius: 2px;
   padding-bottom: 2px;
   height: 65%;
   width: 90%;
}

.ribbon-dropdown-text {
    height: 21px;
    position: absolute;
    left: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: calc(100% - 13px);
    padding-top: 2px;
    border-radius: 2px;
    top: 2px;
    left: 2px;
}

.ribbon-dropdown-button-icon:hover,
.ribbon-dropdown-button-text:hover {
    background-color:  rgb(225, 225, 225)!important;
}

.ribbon-deactivate {
    float:right;
}

.ribbon-about {
    right: 130px;
    position: absolute;
    top: 4px;
    font-size: 17px;
    cursor: pointer;
    color: black;
    color: var(--app-ribbon-text-color,black);
}

.ribbon-about-wrapper {
    position: fixed;
    z-index: 500;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ribbon-about-button {
    position: absolute;
    width: 40px;
    height: 37px;
    top: 319px;
    cursor: pointer;
}

.ribbon-about-default-text-wrapper {
    position: absolute;
    bottom: 46px;
    left: 87px;
    color: white;
}

.ribbon-about-default-text {
    font-size: 14px;
}

.ribbon-about-default-copyright {
    font-size: 9px;
    margin-left: 10px;
}

.ribbon-about-version-wrapper {
    position: absolute;
    color: white;
    top: 220px;
    left: 375px;
}

.ribbon-about-version-wrapper > * {
    padding-bottom: 5px;
}











/*------------------------------------------------------------------------- Mobile Styles ------------------------------------------------------------------------*/


.mobile-ribbon {
    position: absolute!important;
    bottom: 0;
    border-top: 2px solid black;
    height: 50px;
    z-index:2;
    box-shadow: 0px 0px 15px 1px grey!important;
    background-color: white;
}

.mobile-ribbon-button-wrapper {
    text-align: center;
}

.mobile-ribbon-button {
    display: inline-block;
    padding: 18px;
    outline: none;
    cursor: pointer;
    margin: auto;
    background-color:white;
    text-align: center;
    vertical-align: middle;
    height: 100%;
}

.mobile-ribbon-button-text {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 3px;
}

.ribbon-active {
    background-color: rgb(255, 198, 98);
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.ribbon-parent-active {
    background-color: rgb(132, 203, 234);
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.mobile-ribbon-button-icon {
    width:30px;
    height:30px;
}

.mobile-ribbon-row-wrapper{
    position: absolute;
    z-index: 2;
    height: 63px;
    border: 1px solid black;
    background-color: white;
    overflow: hidden;
    width: max-content;
    width: -moz-max-content;
    box-sizing: content-box;
}

.mobile-ribbon-caret-left{
    font-size: 30px;
    position: absolute;
    left: 5px;
    top: 10px;
    pointer-events: none;
    color: #878787;
    opacity: 0.5;
    display: none;
}

.mobile-ribbon-caret-right{
    font-size: 30px;
    position: absolute;
    right: 5px;
    top: 10px;
    pointer-events: none;
    color: #878787;
    opacity: 0.5;
    display: none;
}

.mobile-ribbon-about-button {
    position: absolute;
    cursor: pointer;
}

.mobile-ribbon-about-default-text-wrapper,
.mobile-ribbon-about-version-wrapper {
    position: absolute;
    color: white;
}

.mobile-ribbon-about-default-copyright {
    margin-left: 10px;
}


