
.main-view {
    position: fixed;
    top:56px;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
}

/*
.main-view.ng-enter {
    -webkit-animation: fadeInRight 0.5s;
    animation: fadeInRight 0.5s;
}

.main-view.ng-leave {
    -webkit-animation: fadeOutRight 0.5s;
    animation: fadeOutRight 0.5s;
}
*/

.orders-list.ng-enter {
    -webkit-animation: bounceInLeft 2s;
    animation: bounceInLeft 2s;
}

.orders-list.ng-leave {
    -webkit-animation: bounceOutRight 0.5s;
    animation: bounceOutRight 0.5s;
}

.list-item.ng-enter {
    -webkit-animation: slideInLeft 2s;
    animation: slideInLeft 2s;
}

.list-item.ng-leave {
    -webkit-animation: fadeOutRight 0.5s;
    animation: fadeOutRight 0.5s;
}

.orders-list.ng-enter-stagger {
    transition-delay: 0.3s ;
    -webkit-transition-delay: 0.3s ;
    /*
        FROM THE DOCUMENTATION:
        In case the stagger doesn't work then these two values must be set
        to 0 to avoid an accidental CSS inheritance.
    */
    transition-duration: 0s ;
    -webkit-transition-duration: 0s ;
}

.order-item {
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.order-item:last-child {
    margin-bottom: 0;
    border-bottom: 0 solid #eee;
}


md-sidenav {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    overflow: hidden;
}

md-sidenav md-list {
    overflow-y: auto;
}

md-content.md-default-theme {
    background-color: #eee;
}

md-card {
    background-color: #fff;
}
md-card h2:first-of-type {
    margin-top: 0;
}

md-toolbar .md-button.md-default-theme {
    border-radius: 99%;
}

md-list .md-button {
    color: inherit;
    font-weight: 500;
    text-align: left;
    width: 100%;
}

md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
}

h2 {
    font-weight: 400;
}

.md-toolbar-tools-bottom {
    font-size: small;
}
.md-toolbar-tools-bottom :last-child {
    opacity: 0.8;
}

md-toolbar:not(.md-hue-1),
.md-fab {
    fill: #fff;
}

md-sidenav {
    fill: #737373;
}
md-sidenav ng-md-icon {
    position: relative;
    top: 5px;
}

.user-avatar {
    border-radius: 99%;
}

md-menu-content md-menu-item button ng-md-icon svg {
    margin-bottom: -6px !important;
}

.home-view .home-button {
    height: 50px;
    color: #fff;
    text-align: center;
    margin: 0;
}

.home-view .home-button .count {
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
}

.home-view .home-button:hover:active{
    -moz-transform: scale(0.95, 0.95);
    -ms-transform: scale(0.95, 0.95);
    -o-transform: scale(0.95, 0.95);
    -webkit-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
}

.home-view .home-button .status {
    font-size: 14px;
    line-height: 40px;
}

.home-view .home-button.new {
    background-color: #455a64;
    border: 1px solid #455a64;
}

.home-view .home-button.approved {
    background-color: #00bfa5;
    border: 1px solid #00bfa5;
}

.home-view .home-button.receiving {
    background-color: #ef6c00;
    border: 1px solid #ef6c00;
}

.home-view .home-button.issuing {
    background-color: #c62828;
    border: 1px solid #c62828;
}

.view-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #EEEEEE;
}

.view-container md-tabs-wrapper {
    background-color: #FFFFFF !important;
}

.view-container md-tab-content  md-content {
    background-color: #EEEEEE !important;
}

flippy {
    -webkit-perspective: 2000px;
    -moz-perspective: 2000px;
    -ms-perspective: 2000px;
    perspective: 2000px;
    width: 100%;
    height: 100%;
}
flippy-front {
    position: absolute;
    z-index: 900;
    width: inherit;
    height: inherit;
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    -moz-transform: rotate3d(0, 0, 0, 0deg);
    -ms-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}
flippy-back {
    position: absolute;
    z-index: 800;
    width: inherit;
    height: inherit;
    -webkit-transform: rotate3d(0, 1, 0, -180deg);
    -moz-transform: rotate3d(0, 1, 0, -180deg);
    -ms-transform: rotate3d(0, 1, 0, -180deg);
    transform: rotate3d(0, 1, 0, -180deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}
flippy.flipped flippy-front {
    z-index: 900;
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
    -moz-transform: rotate3d(0, 1, 0, 180deg);
    -ms-transform: rotate3d(0, 1, 0, 180deg);
    transform: rotate3d(0, 1, 0, 180deg);
}
flippy.flipped flippy-back {
    z-index: 1000;
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    -moz-transform: rotate3d(0, 0, 0, 0deg);
    -ms-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg);
}

.login-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.login-container md-content {
    background-color: transparent !important;
}

.login-container md-checkbox.md-checked .md-icon {
    background-color: rgb(3, 169, 244);
}

.login-container label{
    color: #ddd !important;
}

.login-container .md-input-invalid label{
    color: #ddd !important;
}

.login-container .md-has-value label{
    color: #ddd !important;
}

.login-container .md-label{
    color: #ddd !important;
}

.login-container .md-icon{
    border-color: #ddd !important;
}

.login-container .md-input-focused {
    color: #ddd !important;
}

.login-container input {
    color: #ddd;
    border-bottom-color: #ddd !important;
}

.login-container md-checkbox .md-label {
    margin-top: 15px;
}

.phone-number a, .phone-number a:visited, .phone-number a:active  {
    text-decoration:none;
    color: dodgerblue;
}


.task-status {
    width: 20px;
    height: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-right: 10px;
}

.task-status.completed {
    background: green;
}

.task-status.pending {
    background: red;
}





